body {
	height: 100%;
}

nav {
	height: 64px;
}
nav ul {
	line-height: 64px;
}

.page {
	position: absolute;
	top: 64px;
	padding: 0 10px;
	z-index: -1;
	bottom: 74px;
	width: 100%;
	overflow: scroll;
}

.player {
	background: white;
	position: fixed;
	height: 90px;
	box-sizing: border-box;
	bottom: 0;
	padding: 0 10px;
	border-top: 1px solid rgba(128, 128, 128, 0.2);
	width: 100%;
	margin: 0;

	&__progress {
		margin: 0;
		left: 0;
		position: absolute;
	}
}

.player__content {
	height: 100%;
}

.song-title {
	font-size: 16px;
}
.song-artist {
	font-size: 13px;
	color: #616161;
}

.player__hover-item {
	width: 80px;
	opacity: 0;
}
.player:hover .player__hover-item {
	opacity: 1;
}
.player__text {
	width: 100%;
}
.player:hover .player__text {
	flex: 1;
}
.player__left {
	display: flex;
	flex: 1;
}
.player__right {
	flex: 1;
}

.pointer {
	cursor: pointer;
}

.login-form {
	padding: 20px;
	width: 100%;
}

.grid {
	position: relative;
	&__content {
		position: absolute;
		left: -5px;
		right: -5px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
	&__item {
		margin: 0 5px 10px 5px;
		width: 208px;
		height: 270px;
	}
}

.playlist {
	table-layout: fixed;
	&__number {
		min-width: 40px;
		width: 10%;
	}
	&__duration {
		width: 10%;
	}
	&__name {
		width: 40%;
	}
	&__artist {
		width: 20%;
	}
	&__index {
		padding: 0 5px;
	}
	&__icon {
		display: none;
	}
	&__item.current,
	&__item:hover {
		background-color: #eceff1;
	}
	&__item:hover &__index {
		display: none;
	}
	&__item:hover &__icon {
		display: block;
	}
	& td {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	@keyframes playing {
		0% {transform: rotate(0);}
		50% {transform: rotate(15deg);}
		100% {transform: rotate(-10deg);}
	}
	&__note {
		animation: playing 0.5s infinite;
	}
}
