body {
	height: 100%;
}

nav {
	height: 64px;
}
nav ul {
	line-height: 64px;
}
nav ul i.material-icons{
	line-height: 64px;
}

.page {
	position: absolute;
	top: 64px;
	padding: 0 10px;
	z-index: -1;
	bottom: 90px;
	width: 100%;
	overflow: scroll;
}

.player {
	background: white;
	position: fixed;
	height: 90px;
	box-sizing: border-box;
	bottom: 0;
	padding: 0 10px;
	border-top: 1px solid rgba(128, 128, 128, 0.2);
	width: 100%;
	margin: 0;

	&__content {
		height: 100%;
	}
	&__progress {
		margin: 0;
		left: 0;
		position: absolute;
	}
	&__hover-item {
		width: 80px;
		opacity: 0;
	}
	&:hover &__hover-item {
		opacity: 1;
	}
	&__text {
		width: 100%;
	}
	&:hover &__text {
		flex: 1;
	}
	&__left {
		display: flex;
		flex: 1;
	}
	&__right {
		flex: 1;
		flex-direction: row-reverse;
	}
	&__queue {
		position: absolute;
		right: 5px;
		width: 66%;
		bottom: 60px;
		background: white;
		max-height: 300px;
		&-inner {
			box-sizing: border-box;
			max-height: 300px;
			padding: 10px;
			overflow: scroll;
			&::-webkit-scrollbar {
				display: none;
			}
		}
		&:after {
			content: '';
			width: 10px;
			height: 10px;
			transform: rotate(45deg);
			position: absolute;
			bottom: -5px;
			right: 10px;
			background: white;
		}
	}
}


.song-title {
	font-size: 16px;
}
.song-artist {
	font-size: 13px;
	color: #616161;
}


.pointer {
	cursor: pointer;
}

@keyframes rotate-animation {
	0% {transform: rotate(0);}
	50% {transform: rotate(15deg);}
	100% {transform: rotate(-10deg);}
}

.rotate-on-hover:hover {
	animation: rotate-animation 0.5s infinite;
}

.login-form {
	padding: 20px;
	width: 100%;
}

.grid {
	position: relative;
	&__content {
		margin-left: -5px;
		margin-right: -5px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}
	&__item {
		margin: 0 5px 10px 5px;
		width: 208px;
	}
}

.playlist {
	table-layout: fixed;
	&__number {
		min-width: 40px;
		width: 10%;
	}
	&__duration {
		width: 10%;
	}
	&__name {
		width: 40%;
	}
	&__artist {
		width: 20%;
	}
	&__index {
		padding: 0 5px;
	}
	&__icon {
		display: none;
	}
	&__item.current,
	&__item:hover {
		background-color: #eceff1;
	}
	&__item:hover &__index {
		display: none;
	}
	&__item:hover &__icon {
		display: block;
	}
	& td {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	&__note {
		animation: rotate-animation 0.5s infinite;
	}
}

.card-image.preview {
	max-height: 100px;
	overflow: hidden;
}

.search {
	&__suggest {
		margin-top: -15px;
		background: white;
	}
	&__suggest-item {
		cursor: pointer;
		color: #757575;
		font-size: 14px;
		padding-left: 56px;
		box-sizing: border-box;
		&:hover, &.selected {
			background: #f5f5f5;
		}
	}
}
